
<div id="wrapper4">
<div id="footer" class="container">
<div>
<header class="title">
<h2>Get in touch</h2>
<span class="byline">Social Networks to follow</span> </header>
<ul class="contact">
<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
<li><a href="#" class="icon icon-facebook"><span></span></a></li>
<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
</ul>
</div>
</div>
</div>
<div id="copyright" class="container">
<p>&copy; "The Command Line" (CL) by <a href="http://suriyaa.isc">Suriyaa Kudo</a>. All rights reserved. <br />
<small>Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</small></p>
</div>
