<div id="header-wrapper">
<div id="header" class="container">
<div id="logo">
<h1><a href="http://isc-host.github.io/cl.isc/">The Command Line (CL)</a></h1>
<span>{{ site.description }}</span> </div>
<div id="menu">
<ul>
<li class="current_page_item"><a href="http://isc-host.github.io/cl.isc/" accesskey="1" title="">Home</a></li>
<li><a href="projects" accesskey="2" title="">Projects</a></li>
<li><a href="about" accesskey="3" title="">About Us</a></li>
<li><a href="contact" accesskey="4" title="">Contact Us</a></li>
</ul>
</div>
</div>
</div>
