
<!-- Informations -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="the command line, cl, suriyaa kudo" />
<meta name="description" content="{{ site.description }}" />
<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<!-- CSS Stylesheets -->
<link href="http://isc-host.github.io/cl.isc/assets/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://isc-host.github.io/cl.isc/assets/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]><link href="{{ "http://isc-host.github.io/cl.isc/assets/css/default_ie6.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" /><![endif]-->

<!-- NProgress loading bar -->
<script src='https://raw.githubusercontent.com/iSC-Host/isc-services.com/gh-pages/_data/nprogress/nprogress.js'></script>
<link rel='stylesheet' href='https://raw.githubusercontent.com/iSC-Host/isc-services.com/gh-pages/_data/nprogress/nprogress.css'/>
