
<!-- Informations -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="the command line, cl, suriyaa kudo" />
<meta name="description" content="The official website of 'The Command Line' (CL)" />
<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<!-- CSS Stylesheets -->
<link href="{{ "default.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ "fonts.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]><link href="{{ "default_ie6.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" /><![endif]-->
