<!DOCTYPE html>
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Hyacinth 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131010
For	       : cl.isc
Used by    : Suriyaa Kudo

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  {% include header/top.html %}
  
  </head>
  <body>
<!-- SITE START -->

    {% include header.html %}

        {{ content }}

    {% include footer.html %}

<!-- SITE END -->
  </body>
</html>
{% include footer/comment.html %}
